.yatra-overlay-div{
    transition: .5 ease all;
    transition: .5s ease;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #0000008a;
    cursor: pointer;
}
.yatra-active-place{
    z-index: 9999;
    position: relative;
    box-shadow: 0px 0px 10px 3px #0301335e;
}
/* YATRA-MODEL */
.yatra-display-none{
    display: none !important;
}
.yatra-data-control{
    transition: 1s ease;
    box-shadow: 0px 0px 10px 3px #00000087;
    display: block;
    display: flex;
    flex-direction: column;
    background: #FFF;
    width: 20%;
    border-radius: 2.5px;
    border: 1px solid #888888b3;
    position: absolute;
    z-index: 99999;
    min-width: 180px;
    display: inline-block;
}
.yatra-data-control>div:nth-child(2){
    font-family: sans-serif;
    padding: 25px 10px;
    display: flex;
    font-size: 22px;
    text-align: left;
}
.yatra-data-controls>div{
    background-color: aliceblue !important;
    border: 1px solid #0000001c;
    font-family: sans-serif;
    font-size: 14px;
}
.yatra-data-controls{
    border-top: 1px solid rgba(0, 0, 0, 0.144);
    padding: 10px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.yatra-data-controls>div:hover{
    transition: 1s ease;
    cursor: pointer;
    background-color: rgba(136, 136, 136, 0.123);
}
.yatra-data-controls>div{
    transition: 1s ease;
    font-weight: bold;
    padding: 7.5px 20px;
    background-color: #002c0054;
    border-radius:2.5px;
}
/* YATRA-MODEL-END */
.yatra-hover-element-overlay{
    transition: .7s ease;
    z-index: 9999;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 0px 3px #ffffffa9;
}

.yatra-hide-data-mode{
    visibility: hidden;
}

.yatra-data-close{
    position: relative;
}
.yatra-data-close>div{
    position: absolute;
    right: 8px;
    top: 3px;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.yatra-modal-in-between{
    opacity: .5;
}